
.about-page {
    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;
    background-color: rgb(128, 128, 128);
    box-shadow: 0px 0px 10px 4px lightgray;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 40em;
    width: 85%;
}

.creators-photo {
    width: 50%;
    max-width: 10em;
    margin-top: 1em;
    border-radius: 10px;
    border: 3px solid lightgrey;
}
.about-page h3 {
    font-family: Charter, serif;
    margin-bottom: 0;
    color: whitesmoke;
}

.about-page p {
    width: 70%;
    font-family: Charter, serif;
    color: whitesmoke;
}