
#enter-playlist-page {
    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;
    background-color: rgb(128, 128, 128);
    box-shadow: 0 0 10px 4px lightgray;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 40em;
    width: 85%;


}
.title-logo {
    margin-top: 2em;
    border-radius: 50%;
    width: 10%;
    min-width: 5em;

}

.title {
    font-family: verdana, serif;
    font-size: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
    color: whitesmoke;

}

.playlist-link-input {
    font-family: "Apple SD Gothic Neo", serif;
    background-color: dimgray;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1em;
    width: 80%;
    box-shadow: 0 0 5px 4px lightgrey;
    padding: 0.5em;
    max-width: 15em;
    color: white;

}

.submit-button {
    background-color: #00000091;
    margin: 2em 0;
    border: 2px solid white;
    box-shadow: 0 0 2px 2px darkgray;
    border-radius: 5px;
    font-size: 1em;
    color: whitesmoke;
    padding: 0.5em 1em;
    font-family: verdana, serif;
    font-weight: bold;
}

.submit-button:hover {
    cursor: pointer;
    background-color: dimgray;
}

